{% spaceless %}

{#
  :: BASE LAYOUT ::
  Every page layout should extend this template.

  GLOBALS:
  - (o) _locale:      Page locale {false|<ISO 639-1 locale>}

  PARAMS:
  - main:             Main page content {<block>}
  - (o) pageId:       Used to identify a certain page for custom logic or styling purposes {false|<class>}

  USAGE:
  - extend
#}

{# Page config variables #}
{% set _locale =     _locale|default(false) %}
{% set pageId =      pageId|default(false) %}
{% set body_class =  body_class|default(false) %}

{# Layout #}
{% endspaceless %}<!DOCTYPE html>
<html {{ function('get_language_attributes') }} class="no-js no-svg" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">

  <head>
		<meta charset="{{ site.charset }}" />
    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />

    {# Wordpress header injection #}
    {{ function('wp_head') }}

		<link rel="shortcut icon" href="{{ site.theme.uri }}/assets/icons/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.uri }}/assets/icons/apple-touch-icon-180x180.png" />

  </head>

  <body id="{{ pageId }}" class="{{ body_class }} {{header.is_translated.translated}}">

		<div class="o-main-container">

			{% include 'components/common/header.twig' with { header: header, strips: options.strip_buttons, api: api, socials: options.socials, breadcrumbs: breadcrumbs, site: { theme: { uri: site.theme.uri }, link: site.link } } only %}

			<main id="main" role="main">
				{% block contentTop %}{% endblock %}

				{% block content %}

					{% include "flexible_content.twig" with { "flexibleContent" : flexibleContent, api: api, greenNumb: options.phone, greenImg: options.green_phone  } only %}
					{% endblock %}

				{% block contentBottom %}{% endblock %}
			</main>

			{% include 'components/common/footer.twig' with { "footer" : footer} %}
		</div>

		{# Wordpress footer injection #}
	  {{ function('wp_footer') }}

	</body>

</html>
