{% spaceless %}

	{#
  :: CONTENT SINGLE ::

  PARAMS:
  - content:            			    		{<object>}
	- tags:											{<string>}
	- bottom_widget:											{<string>}



  USAGE:
  - include
#}

	{# Variables set #}
	{% set content = post.content | default(empty) %}
	{% set tags = post.tags | default(empty) %}
	{% set id = post.ID | default(empty) %}
	{% set post_type = post.post_type | default(empty) %}
	{% set bottom_widget = bottom_widget | default(empty) %}

	{# Layout #}
{% endspaceless %}
<div class="single-content">
	<article class="post-type-{{ post_type }}" id="post-{{ id }} single-article">
		{{content|raw}}
	</article>
	<div class="single-tags">
		{% for tag in tags %}
			<a class="single-tags-item" href="{{site.link}}/tag/{{ tag.slug }}">&num;{{ tag.name }}</a>
		{% endfor %}
	</div>
	<div class="single-socials">
		<div class="single-socials-wrapper">
			<p>Condividi su:</p>
			<ul>
				<li>
					<a href="https://www.facebook.com/sharer.php?u={{ post.link|url_encode }}" target="_blank">
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/home?status={{ post.link|url_encode }}" target="_blank">
						<i class="icon-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link|url_encode }}&title={{ post.title|url_encode }}&summary=&source=" target="_blank">
						<i class="icon-linkedin"></i>
					</a>
				</li>
			</ul>

		</div>

	</div>
</div>
<div class="single-bottom-widget">
	<h3>Potrebbero interessarti anche:</h3>
		<div class="flex flex--news container">
			<div class="flex--news--content row">

				{% for item in relatedPosts %}
					{% include 'components/atoms/loop_item.twig' with {
						item : item
					}
					only %}
				{% endfor %}
			</div>
		</div>
</div>
