<div class="row footer-content">
	<div class="col-xs-12 col-md-3 menu-footer-mobile">
		{% include 'components/atoms/menu.twig' with {items : footer.menumobfooter.items} only %}
	</div>
</div>
<div class="row footer-content">
	<div class="col-xs-12 col-md-3 menu-footer">
		{% set name = footer.footercolonetop.title|split(' - ') %}
		<h5>{{name[0]}}</h5>
		{% include 'components/atoms/menu.twig' with {items : footer.footercolonetop.items} only %}
	</div>
	<div class="col-xs-12 col-md-3 menu-footer">
		{% set name = footer.footercoltwotop.title|split(' - ') %}
		<h5>{{name[0]}}</h5>
		{% include 'components/atoms/menu.twig' with {items : footer.footercoltwotop.items} only %}
	</div>
	<div class="col-xs-12 col-md-3 menu-footer">
		{% set name = footer.footercolthreetop.title|split(' - ') %}
		<h5>{{name[0]}}</h5>
		{% include 'components/atoms/menu.twig' with {items : footer.footercolthreetop.items} only %}
	</div>
	<div class="col-xs-12 col-md-3 menu-footer">
		{% set name = footer.footercolfourtop.title|split(' - ') %}
		<h5>{{name[0]}}</h5>
		{% include 'components/atoms/menu.twig' with {items : footer.footercolfourtop.items} only %}
	</div>
	<div class="col-xs-12 col-md-3 menu-footer">
		{% set name = footer.footercolonebottom.title|split(' - ') %}
		<h5>{{name[0]}}</h5>
		{% include 'components/atoms/menu.twig' with {items : footer.footercolonebottom.items} only %}
	</div>
	<div class="col-xs-12 col-md-3 menu-footer">
		{% set name = footer.footercoltwobottom.title|split(' - ') %}
		<h5>{{name[0]}}</h5>
		{% include 'components/molecules/follow-us.twig' with {socials : footer.socials} only %}
	</div>
	<div class="col-xs-12 col-md-3 menu-footer">
		{% set name = footer.footercolthreebottom.title|split(' - ') %}
		<h5>{{name[0]}}</h5>
		{% include 'components/molecules/newsletter.twig' with {newsletter : footer.newsletter} only %}
	</div>
</div>
