{% spaceless %}

{% set title = title|default(empty) %}
{% set typeForm = typeForm|default(empty) %}
{% set typeF = typeF|default("all") %}
{% set greenImg = greenImg %}
{% set greenNumb = greenNumb %}

{# set title = "Offerta e servizi per <b>Negozi e uffici</b>" #}
{# set typeForm = "aziende" #}
{% set gdatakey = api.google.recaptcha.sitekey|default(empty) %}


{% endspaceless %}<div class="strip_form strip_inside">

  <div class="container">
    <div class="row">
			{% if not noBack %}
      <div class="col-12">
          {% if typeF=="all" %}
            <a class="back_strip" href="#"><i class="icon-left-open"></i> Torna indietro</a>
          {% endif %}
          <h2>{{title|raw}}</h2>
      </div>
			{% endif %}
    </div>

		{% if fn('is_page_template', 'page-contacts.php') and inBody == true %}

		{% set title = "Chiamaci" %}
		{% set content = "<p><a href=\"tel:#{greenNumb}\"><img src=\"#{greenImg.url}\" /></a></p><p>dal lunedì al sabato dalle 9:00 alle 18:00</p>" %}
		{% include 'components/atoms/strip_text_title.twig' with {title: title,content: content} only %}

		<form id="strip_form{{external}}" class="" action="{#typeForm#}" method="post">
		<div class="row">
			<div class="col-12 call-title">
				<div class="label">Oppure fatti richiamare</div>
			</div>
			<div class=" col-12 call-input">
				<input type="text" name="telefono_1" value="" required="required" placeholder="Telefono*">
			</div>
			<div class=" col-12  call-sel">
				<div class="label">Scegli l'ora in cui desideri essere chiamato*</div>
			</div>
			<div class="field-data  col-12  call-check">
				<ul>
					<li>
						<input type="radio" id="appena" name="time" value="appena" required checked>
						<label for="appena">Appena Possibile</label>
						<div class="check"></div>
					</li>
					<li>
						<input type="radio" id="9_12" name="time" value="9_12">
						<label for="9_12">9.00 - 12.00</label>
						<div class="check"></div>
					</li>
					<li>
						<input type="radio" id="12_14" name="time" value="12_14">
						<label for="12_14">12.00 - 14.00</label>
						<div class="check"></div>
					</li>
					<li>
						<input type="radio" id="14_18" name="time" value="14_18">
						<label for="14_18">14.00 - 18.00</label>
						<div class="check"></div>
					</li>
					<li>
						<input type="radio" id="18_21" name="time" value="18_21">
						<label for="18_21">18.00 - 21.00</label>
						<div class="check"></div>
					</li>
				</div>
			</div>
		{% elseif fn('is_page_template', 'page-contacts.php') and inBody == true and typeForm == "pubblica_amministrazione"%}

			{% set title = "Chiamaci" %}
			{% set content = '<p><a href="tel:#{greenNumb}"><img src="#{greenImg.url}" /></a></p>' %}
			{% include 'components/atoms/strip_text_title.twig' with {title: title,content: content} only %}

			<form id="strip_form{{external}}" class="" action="{#typeForm#}" method="post">

		{% else %}

			<form id="strip_form{{external}}" class="" action="{#typeForm#}" method="post">

		{% endif %}


      {% if typeForm == "aziende"  %}
      <div class="row">
        <div class="col-12 radio_options">
          Quanti dipendenti ha la tua azienda?
          <label for="su100">
            <input type="radio" name="numdip" id="su100" value="sopra100" required>
            <span class="checkmark"></span>
            sopra i 100
          </label>
          <label for="so100">
            <input type="radio" name="numdip" id="so100" value="sotto100">
            <span class="checkmark"></span>
            sotto i 100
          </label>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-12 col-md-6">
          <input type="text" name="nome" value="" required placeholder="Nome*">
        </div>
        <div class="col-12 col-md-6">
          <input type="text" name="cognome" value="" required placeholder="Cognome*">
        </div>
      </div>
      <div class="row">

        {% if typeForm=="aziende" or  typeForm=="negozi_e_uffici" %}
        <div class="col-12 col-md-6">
          <input type="text" name="azienda" value="" placeholder="Azienda">
        </div>
        {% endif %}

        {% if typeForm=="pubblica_amministrazione" %}
        <div class="col-12 col-md-6">
          <input type="text" name="ente_pubblico" value="" required placeholder="Ente Pubblico*">
        </div>
        {% endif %}

        <div class="col-12 col-md-6">
          <input type="text" name="telefono" value="" required placeholder="Telefono*">
        </div>

        {% if typeForm=="privati" or  typeForm=="varie" %}
        <div class="col-12 col-md-6">
          <input type="email" name="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email*">
        </div>
        {% endif %}

      </div>
      <div class="row">
        <div class="col-12 col-md-6">

          {% if typeForm=="privati" or  typeForm=="varie" %}
            <textarea name="note" rows="8" cols="80" placeholder="Note..."></textarea>
          {% else %}
            <input type="email" name="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email*">
            <textarea name="note" rows="5" cols="80" placeholder="Note..."></textarea>
          {% endif %}

        </div>
        <div class="col-12 col-md-6 containter">
          <small class="campobbl">* Campi obbligatori</small>
          <div class="recapctha">
            {% if gdatakey is not empty %}<div class="g-recaptcha" data-sitekey="{{gdatakey}}"></div>{% endif %}
          </div>
          <div class="row final-row">
            <div class="col-12 col-md-6">
              <div class="privacy">
                Premendo il pulsante accetti la <a href="#">politica di privacy</a>
              </div>
            </div>

            <input type="hidden" name="type" value="{{typeForm}}">

            <div class="col-12 col-md-6">
              <button type="submit" name="button">invia</button>
            </div>
          </div>
        </div>
      </div>
			<div class="spinner hidden"></div>
			<div class="message hidden"></div>

    </form>
  </div>
</div>
