{% spaceless %}

{#
  :: CONFIGURATOR ::

  PARAMS:
  ---- title:															{<string>}
  ---- subtitle:													{<string>}


  USAGE:
  - include
#}
{# Variables set #}
{% set title = contents.title %}
{% set subtitle = contents.subtitle %}
{% set esit = { text: contents.esit_text|default(empty), image: contents.esit_image|default(empty) } %}
{% set contacts = { title: contents.contact_form_title|default(empty), subtitle: contents.contact_form_subtitle|default(empty) } %}

{% set questionGroups = contents.gruppi_di_domande|default({}) %}
{# Layout #}
{% endspaceless %}<div class="configurator configurator--container">
	<div class="flex-head">
		<h2>{{title}}</h2>
		<p>{{subtitle}}</p>
	</div>
	<div class="configurator--question-group-labels">
		{% for label in questionGroups %}
			<label class="{% if loop.index == 1 %}on{% endif %}" data-label="{{fn('sanitize_title', label.title)}}">{{label.title}}</label>
		{% endfor %}
		<div class="time-track">
			<p><span class="secs">0</span> SEC</p>
			<div class="watch">
				<div class="pie" data-progress="0"></div>
			</div>
		</div>
	</div>
	<div class="configurator--question-groups">
		{% for group in questionGroups %}
			{% include 'components/atoms/question_group.twig' with {group: group, loop: loop} only %}
		{% endfor %}
	</div>
	<div class="configurator--esit">
		<p class="subtitle">{{esit.text|raw}}</p>
		{% if esit.image is not empty and esit.image.url is defined %}<img src="{{esit.image.url}}" alt="{{esit.image.alt}}" />{% endif %}
		<div class="configurator--contact-form">
			<h3>{{contacts.title}}</h3>
			<p id="contacts-subtitle">{{contacts.subtitle}}</p>

			<div class="contact-data">
				<div class="container">
					<p>Per conoscere l’offerta lasciaci il numero di telefono e sarai ricontattato al più presto</p>
					<form id="quote_call_form2" action="" method="post">
					<div class="phone">
							<div class="label">Cellulare</div>
							<input type="hidden" name="datarichiesta" value="{{ "now"|date("m/d/Y") }}">
							<input type="hidden" name="canale" value="">
							<input type="text" name="telcli" value="" required="required" placeholder="Telefono*">
					</div>
					<div class="time">
							<div class="label">Scegli l'ora per essere chiamato</div>
						<div class="field-data">
							<ul>
								<li>
									<input type="radio" id="appena" value="appena" name="orachiamata">
									<label for="appena">Appena Possibile</label>
									<div class="check"></div>
								</li>
								<li>
									<input type="radio" id="9_12" value="9_12" name="orachiamata">
									<label for="9_12">9.00 - 12.00</label>
									<div class="check"></div>
								</li>
								<li>
									<input type="radio" id="12_14" value="12_14" name="orachiamata">
									<label for="12_14">12.00 - 14.00</label>
									<div class="check"></div>
								</li>
								<li>
									<input type="radio" id="14_18" value="14_18" name="orachiamata">
									<label for="14_18">14.00 - 18.00</label>
									<div class="check"></div>
								</li>
								<li>
									<input type="radio" id="18_21" value="18_21" name="orachiamata">
									<label for="18_21">18.00 - 21.00</label>
									<div class="check"></div>
								</li>
							</ul>
							</div>
						</div>
						<div class="send">
								<div class="privacy">
									Premendo il pulsante accetti la
									<a href="#">politica di privacy</a>
								</div>
								<button type="submit" name="button" class="btn">invia</button>
						</div>
						<div class="spinner hidden"></div>
						<div class="message hidden"></div>
					</form>
					</div>
				</div>

			<div class="configurator--results">
				<h4>Informazioni registrate</h4>
				<p>Di seguito le informazioni preliminari da lei fornite per il suo studio di sicurezza</p>
				<div class="configurator--results-container">

					<div class="configurator--results-label">
						<div class="configurator--results-label-title"><p>Definisci la tipologia della tua attività:</p></div>
						<div class="configurator--results-icon icon-ok"></div>
						<div class="configurator--results-value"><p>{answer1}</p></div>
					</div>

					<div class="configurator--results-label">
						<div class="configurator--results-label-title"><p>In che zona si trova?</p></div>
						<div class="configurator--results-icon icon-ok"></div>
						<div class="configurator--results-value"><p>{answer2}</p></div>
					</div>

					<div class="configurator--results-label">
						<div class="configurator--results-label-title"><p>Qual è il CAP della tua attività?</p></div>
						<div class="configurator--results-icon icon-ok"></div>
						<div class="configurator--results-value"><p>{cap}</p></div>
					</div>

					<div class="configurator--results-label">
						<div class="configurator--results-label-title"><p>Quanti addetti hai?</p></div>
						<div class="configurator--results-icon icon-ok"></div>
						<div class="configurator--results-value"><p>{answer4}</p></div>
					</div>

					<div class="configurator--results-label">
						<div class="configurator--results-label-title"><p>Qual è il valore (prodotti/denaro) presente presso la tua attività?</p></div>
						<div class="configurator--results-icon icon-ok"></div>
						<div class="configurator--results-value"><p>{answer5}</p></div>
					</div>

					<div class="configurator--results-label">
						<div class="configurator--results-label-title"><p>Presso la tua attività o quelle vicine si sono mai verificati furti o rapine?</p></div>
						<div class="configurator--results-icon icon-ok"></div>
						<div class="configurator--results-value"><p>{answer6}</p></div>
					</div>

					<div class="configurator--results-label">
						<div class="configurator--results-label-title"><p>Hai già un impianto di allarme e/o videosorveglianza?</p></div>
						<div class="configurator--results-icon icon-ok"></div>
						<div class="configurator--results-value"><p>{answer7}</p></div>
					</div>


			</div>
		</div>
	</div>
</div>
