{% spaceless %}

	{#
  :: Carousel ::

  PARAMS:
  ---- title:															{<string>}
  ---- subtitle:													{<string>}
  ---- items:            			    				{<object>}
  -------- item:            			    				{<object>}
  ------------ image:            			    		{<object>}
  ---------------- url:												{<string>}
  ---------------- alt:												{<string>}
  ---------------- width:		 									{<string>}
  ---------------- height:	 									{<string>}
  ---------------- sizes:											{<object>}
  -------------------- thumbnail: 	   				{<string>}
  -------------------- thumbnail-width: 			{<string>}
  -------------------- thumbnail-height: 			{<string>}
  -------------------- medium: 								{<string>}
  -------------------- medium-width:					{<string>}
 	-------------------- medium-height: 				{<string>}
  -------------------- medium_large: 					{<string>}
  -------------------- medium_large-width: 		{<string>}
  -------------------- medium_large-height: 	{<string>}
  -------------------- large: 								{<string>}
  -------------------- large-width: 					{<string>}
  -------------------- large-height: 					{<string>}
	------------ title:            			  {<string>}
	------------ link:            			  			{<string>}



  USAGE:
  - include
#}
	{# Variables set #}
	{% set title = contents.title %}
	{% set subtitle = contents.subtitle %}
	{% set item = contents.item %}

	{# Layout #}
{% endspaceless %}
<div class="flex flex-sector container">
	<div class="flex-head">
		<h2>{{title}}</h2>
		<p>{{subtitle}}</p>
	</div>
	<div class="sector-swiper">
		<div class="swiper-wrapper">
			{% for el in item %}

				{% set image = el.image | default('http://localhost/wp-content/uploads/2018/03/image.jpg') %}
				<div class="swiper-slide">

					<a href="{{el.link}}" class="item-{{loop.index}} flex-sector-item">
						<img src="{{el.image.url}}"/>
						<div class="flex-sector-data">
							<h3>{{el.description}}</h3>
						</div>
					</a>
				</div>

			{% endfor %}
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
