{% spaceless %}

{#
  :: Title and Description ::

  PARAMS:
	- showcase:    		  										{<object>}
  ---- title:															{<string>}
  ---- subtitle:													{<string>}
	-------- url:														{<string>}
	-------- alt:														{<string>}
	-------- width:		 											{<string>}
	-------- height:	 											{<string>}
	-------- sizes:													{<string>}
	------------ thumbnail: 	   						{<string>}
	------------ thumbnail-width: 					{<string>}
	------------ thumbnail-height: 					{<string>}
	------------ medium: 										{<string>}
	------------ medium-width:							{<string>}
	------------ medium-height: 						{<string>}
	------------ medium_large: 							{<string>}
	------------ medium_large-width: 				{<string>}
	------------ medium_large-height: 			{<string>}
	------------ large: 										{<string>}
	------------ large-width: 							{<string>}
	------------ large-height: 							{<string>}
  ---- story_title:												{<string>}
  ---- story_subtitle:										{<string>}
  ---- cta:																{<object>}




  USAGE:
  - include
#}

{# Variables set #}
{% set title = contents.title|default(empty) %}
{% set subtitle = contents.subtitle|default(empty) %}
{% set story_title = contents.story_title|default(empty) %}
{% set story_subtitle = contents.story_subtitle|default(empty) %}
{% set description = contents.description|default(empty) %}
{% set image = contents.image|default(empty) %}
{% set image_mobile = contents.image_mobile|default(empty) %}
{% set cta = contents.cta|default(empty) %}

{# Layout #}
{% endspaceless %}<div class="flex flex-showcase" >
	<div class="container">
		<div class="flex-head">
			<h2>{{title}}</h2>
			{% if subtitle is not empty %}<p>{{subtitle}}</p>{% endif %}
		</div>
	</div>
	<div class="flex-showcase-container" data-gradient="linear-gradient(to bottom, #ffffff 10%,#f5f5f5 10%,#f5f5f5 90%,#ffffff 90%)">

		<div class="flex-showcase-bg" data-mob-image-url="{% if image_mobile is not empty %}{{image_mobile.url}}{% endif %}" data-dk-image-url="{% if image is not empty %}{{image.url}}{% endif %}">

		</div>

			<div class="container">
				<div class="row align-items-center">
					<div class="d-xl-none col-xs-12 col-md-8 col-lg-8">
						<img class="mob-img" data-mob-image-url="{% if image_mobile is not empty %}{{image_mobile.url}}{% endif %}" data-dk-image-url="{% if image is not empty %}{{image.url}}{% endif %}" alt="">
					</div>
					<div class="col-xs-12 col-md-4 col-lg-4 col-xl-4 offset-xl-7 flex-showcase-content">
						<h3>{{ story_title }}</h3>
						<h4>{{ story_subtitle }}</h4>
						<div class="dot-wrapper">
							<p class="">{{ description }}</p>
						</div>
						{% include 'components/atoms/cta.twig' with { link: cta.url, label: cta.title } only %}
					</div>

				</div>

			</div>

	</div>

</div>
