{% spaceless %}
{# Variables set #}
{% set title = contents.title|default(empty) %}
{% set description = contents.description|default(empty) %}
{% set items = contents.elements.items|default(empty) %}
{% set index = flexIndex %}

{# Layout #}
{% endspaceless %}
<div id="tab-{{index}}" class="flex flex-service-convention container">
	<div class="flex-head">
		{% if title is not empty %}<h2>{{title}}</h2>{% endif %}
		{% if description is not empty %}<p>{{description}}</p>{% endif %}
	</div>
	<ul class="nav nav-pills">
		{% for item in items %}
		<li>
			<a href="#item-{{index}}-{{loop.index}}" data-toggle="tab" class="{% if loop.index==1 %}active{% endif %}">{{item.title}}</a>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content clearfix">
		{% for item in items %}
		<div class="tab-pane" id="item-{{index}}-{{loop.index}}" style="{% if loop.index==1 %}display:block{% endif %}">
			{{item.description|raw}}
		</div>
		{% endfor %}
	</div>
</div>
