
<div class="breakingnews-date">
	<div class="long-day">
		<span>{{day.name}}</br/></span>{{day.number}}
	</div>
	<div class="short-day">
		{{day.d}}/{{day.m}}/{{day.y}} - <span>{{day.h}}</span>
	</div>
</div>
