{% spaceless %}

{#
  :: CONFIGURATOR MILTIPLE QUESTION ::

  PARAMS:
  ---- title:															{<string>}
  ---- subtitle:													{<string>}


  USAGE:
  - include
#}
{# Variables set #}
{% set request = question.question|default('Domanda') %}
{% set question = question|default({}) %}

{% set field = field|default('answer_'~loop.index) %}

{# Layout #}
{% endspaceless %}<div class="question question--single{% if loop.index == 1 %} on{% endif %}">
	<h3>{{request}}</h3>
	<div class="answers">
			<div class="answer">
				{% if question.icon is not empty and question.icon.url is defined %}<img src="{{question.icon.url}}" alt="{{question.icon.alt}}" />{% endif %}

				<div class="single-labels">
					<label><input name="{{field}}" type="radio" value="Si" /> Si</label>
					<label><input name="{{field}}" type="radio" value="No" /> No</label>
				</div>
			</div>
	</div>

</div>
